server:
  port: 8081

spring:
  datasource:
    platform: postgresql
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    database: POSTGRESQL
    show-sql: true
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
    orm:
      jdbc:
        bind: trace